<div class="app-container">
    <app-side-bar></app-side-bar>
    <div id="bg-content">
        <div id="guides">
            <label>Buyer’s Guide</label>

            <label>How pet insurance works.</label>
            <div class="guide-content">
                <p>
                    Pet insurance is a way to prepare for expected and unexpected veterinary costs. It is a form of property insurance and works similarly to an auto or home insurance policy. Pet insurance is most often set up so that you pay your veterinarian up-front and are reimbursed a percentage of the bill after you have met your annual deductible. 
                </p>
            </div>

            
            <label>Why do I need pet insurance?</label> 
            <div class="guide-content">
                <p>
                    Veterinary care is expensive. In 2018 Americans spent $72 billion dollars on their pets, $18.11 billion specifically on veterinary care. This amount is increasing at approximately 6.1% per year. While every pet parent would love to say that money is no object when it comes to the health of their furry, scaley, or feathered family member, it is the sad truth that many Americans simply cannot afford extended care for pet illness or the unexpected expenses of emergency care. Sometimes it means saying no to needed diagnostic tests or in extreme cases, losing a beloved family member due to financial constraints. Pet insurance is a way to prepare for the unexpected.
                </p>
            </div>
            
            <label>How much does pet insurance cost?</label>
            <div class="guide-content">
                Your monthly payments are defined by many factors, including (but not limited to):
            <ul>
                <li>
                    The regulations of the state you live in
                </li>
                <li>
                    The species of your pet
                </li>
                <li>
                    The age of your pet
                </li>
                <li>
                    The average cost of veterinary care in your area
                </li>
                <li>
                    The deductible and yearly maximum benefits you choose
                </li>

            </ul>
            <p>
                Please call our customer service at 1-800-555-1234 for more information or send us a message to request a no-obligation quote. 
            </p>
            </div>
           
            
            <label>Why Fur 2 Feathers?</label>
            <div class="guide-content">
                We realize that you have options when it comes to caring for your non-traditional pet. We offer affordable plans, competitive coverage, the freedom to choose your vet, and the personal service of a smaller, family-owned business. You are not just another policy to us, you are part of our family.

            </div>
            
            <label>What plans do we offer</label> 
            <div class="guide-content">
                Fur 2 Feathers has 2 options to meet your needs. When you sign up for coverage, you are automatically enrolled in our basic plan with a $250 annual deductible and $12,000 yearly limit. This plan covers accidents, injuries, and illnesses. This does not include routine care or the conditions/treatments listed under our exceptions policy. 
                Once you are signed up, you may then call 1-800-555-1234 to have our customer service representatives assist in customizing your plan by selecting the deductible and yearly limit that works for you and your budget. 
                
                With assistance from customer service, you can also upgrade your plan to our premium plan which covers everything in our basic plan as well as routine and preventative care.
                
                And because love never dies, Fur 2 Feathers also offers our exclusive Pet Loss coverage. If your pet crosses the rainbow bridge, it can leave a hole in your life. When you are ready, you can receive an amount towards purchasing a new animal companion of the same species. 
            </div>
          
            <label>Will my pet be covered?</label>
            <div class="guide-content">
            Unfortunately, due to regulations and other complications, we are not able to offer insurance to all exotic pets, but we do cover most of the most common species. If you do not see your pet on the list on our home page, call our Customer Service representatives at 1-800-555-1234 to find out if your pet can be insured.
            </div>
        <div id="bg-links" >
            <a>Ready to purchase coverage? Create an account</a>
            <a>Need more information? Request a Quote</a>
        </div>
    </div>
    
</div>