@import '../../assets/css/mixins';

#faqs-content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    #faqs-links {
        margin-top: auto;
        display: flex;
        font-size: large;
        justify-content: space-between;
    }
}
