<div id="app-home-container" class="container">
    <div id="row-1" class="row">
        <div class="column">
            <div id="home-logo" class="home-grids logo">
                <img src="https://drive.google.com/a/uci.edu/uc?export=download&id=19cI2MxjRMhadJPHVGOaFgAe4HDnGVewF" width=100% height=100%>
            </div>
            <div id="contact-info" class="home-grids">
    
            </div>
        </div>
      
        <div id="covered-animals" class="home-grids">
    
        </div>
    </div>
    <div id="row-2" class="row">
        <div id="buyers-guide-prompt" class="home-grids">

        </div>
        <div id="plans" class="home-grids">
    
        </div>
    </div>
   
</div>