.home-grids {
    background-color: black;
}

.row {
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

#home-logo {
    height:20vh;
    width:20vw;
}

#plans {
    margin-left:10vw;
    height: 30vh;
    width: 75vw;
}

#buyers-guide-prompt {
    width: 20vw;
    height: 30vh;
}

#covered-animals {
    margin-left:10vw;
    width: 50vw;
    height: 60vh;
}

#contact-info {
    margin-top: 3vh;
    width: 20vw;
    height: 40vh;
}
