<div id="column">
    <div id="home-logo" class="home-grids">
        <img src="https://drive.google.com/a/uci.edu/uc?export=download&id=19cI2MxjRMhadJPHVGOaFgAe4HDnGVewF" alt="f2f-logo" width=100% height=100%>
    </div>
    <div id="contact-info" class="home-grids">
        <h3>Customer Service</h3>
        <p>888-555-1234</p>
        <br/>
        <h3>Available</h3>
        <p>Monday-Friday</p>
        <p>6:00AM-6:00PM EST</p>
        <p>Saturday-Sunday</p>
        <p>10:00AM-6:00PM EST</p>
        <br/>
        <p style="font-weight: bolder;">Please call Customer
            Service to make
            payments on your
            account.</p>
    </div>
    <div id="buyers-guide"> 
        <div id="buyers-guide-prompt" class="home-grids">
            <p >Need more information on <br/>
                how pet insurance works <br/> and what plan might be <br/>
                right for you? Visit our <br/> <a routerLink="/buyers-guide">Buyer's guide</a> <br/><br/>
                For more information regarding our plans <a routerLink="/plans">click here.</a>
            </p>
        </div>
    </div>
</div>

