<div class="app-container">
    <app-side-bar></app-side-bar>
    <div id="my-profile-content">
        <div id="my-profile-tabs">
            <div class="profile-tab" style="margin-bottom: 2vh;">
                <p id="customer-tab" (click)="loadProfile($event,name)">{{name}}</p>
            </div>
            <div class="pet-profiles profile-tab" *ngFor="let pet of pet_profiles">
                <p (click)="loadProfile($event,pet.name)">{{pet.name}}</p>
            </div>
        </div>
        <div id="profile-main">
            <form *ngIf="cust_profile" (ngSubmit)="onSubmit()" #custProfile="ngForm" >
                <div class="form-group">
                    <!-- name -->
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" readonly [(ngModel)]="cust_info.name"
                        #name="ngModel" class="form-control" maxlength="100" required placeholder="Name">
                    <div [hidden]="name.valid||name.pristine" class="alert alert-danger">
                        Name is Required
                    </div>
                </div>
                <div class="form-group" id="cust-address">
                    <label for="address1">Address:</label>
                    <div id="cust-address-info">
                        <!-- Addr line 1 -->
                        <input type="text" name="address1" id="address1" readonly [(ngModel)]="cust_info.street"
                        #address1="ngModel" class="form-control" required placeholder="Address line 1"/>
                        <div [hidden]="address1.valid||address1.pristine" class="alert alert-danger">
                            Street is Required
                        </div>
                        <!-- addre line 2 -->
                        <input type="text" name="address2" id="address2" readonly [(ngModel)]="cust_info.addr2"
                        #address2="ngModel" class="form-control" placeholder="Address line 2">
                        <div id="city-state-zip">
                            <!-- city -->
                            <input style="flex-basis:3" type="text" name="city" id="city" readonly [(ngModel)]="cust_info.city"
                            #city="ngModel" class="form-control" placeholder="City">
                            <div [hidden]="city.valid||city.pristine" class="alert alert-danger">
                                City is Required
                            </div>
                            <!-- state -->
                            <input type="text" name="state" id="state" readonly [(ngModel)]="cust_info.state"
                            #state="ngModel" class="form-control" placeholder="State">
                            <div [hidden]="state.valid||state.pristine" class="alert alert-danger">
                                State is Required
                            </div>
                            <!-- zip -->
                            <input type="text" name="zip" id="zip" readonly [(ngModel)]="cust_info.zip"
                            #zip="ngModel" class="form-control" placeholder="Zip">
                            <div [hidden]="zip.valid||zip.pristine" class="alert alert-danger">
                                Zip is Required
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="form-group">
                    <!-- phone -->
                    <label for="phone">Phone:</label>
                    <input type="text" name="phone" id="phone" readonly [(ngModel)]="cust_info.phone"
                        #phone="ngModel" class="form-control" required placeholder="Phone">
                    <div [hidden]="phone.valid||phone.pristine" class="alert alert-danger">
                        Phone is Required
                    </div>
                </div>
                <div class="form-group">
                    <!-- email -->
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" readonly [(ngModel)]="cust_info.email"
                        #email="ngModel" class="form-control" required placeholder="Email">
                    <div [hidden]="email.valid||email.pristine" class="alert alert-danger">
                        Email is Required
                    </div>
                </div>
                <p style="text-decoration: underline;color:blue" (click)="allowEdits()">Edit profile information</p>
                <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!custProfile.form.valid">Update</button>
                <div id="policies">
                    <table class="table table-hover table-dark">
                        <thead>
                          <tr>
                            <th *ngFor="let head of policyHeadElements" scope="col">{{head}} </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let policy of policies">
                            <th scope="row">{{policy.name}}</th>
                            <td>{{policy.type}}</td>
                            <td>{{policy.status}}</td>
                          </tr>
                        </tbody>
                    </table>
                    <p style="color:red">Call Customer Service at 888-555-1234 to add additional pets to an existing account</p>
                </div>
                
                
            </form>
                <div *ngIf="pet_profile" id="pet-profile">
                    <div id="pet-overview">
                        <div id="pet-img-container" >
                            <img *ngIf="pet_info.imgUrl!==null"style="max-width: 100%;max-height: 80%;" id="pet-img" [src]="pet_info.imgUrl">
                            <h4 *ngIf="pet_info.imgUrl==null">Upload an image.</h4>
                            <form  (ngSubmit)="submitImg()" #petImg="ngForm">
                                <div class="form-group">
                                    <label for="img-url">Image URL:</label>
                                    <input type="text" required name="img-url" id="img-url" [(ngModel)]="pet_info.imgUrl">
                                </div>
                                <button type="submit" class="btn btn-success" (click)="submitImg()" [disabled]="!petImg.form.valid">Update</button>
                            </form>
                        </div>
                        <div id="pet-details" style="margin-left: 2vw;">
                            <div class="pet-detail-group">
                                <h4>Name:</h4>
                                <div class="detail-field">{{pet_info.name}}</div>
                            </div>
                            <div class="pet-detail-group">
                                <h4>Species:</h4>
                                <div class="detail-field">{{pet_info.species}}</div>
                            </div>
                            <div class="pet-detail-group">
                                <h4>Color(s):</h4>
                                <div class="detail-field">{{pet_info.color}}</div>
                            </div>
                            <div class="pet-detail-group">
                                <h4>Age:</h4>
                                <div class="detail-field">{{pet_info.age}}</div>
                            </div>
                            <div class="pet-detail-group">
                                <h4>Sex:</h4>
                                <div class="detail-field">{{pet_info.sex}}</div>
                            </div>
                    </div>
                </div>
                <div id="pet-policy">
                    <div class="pet-detail-group">
                        <h4>Policy</h4>
                        <div class="detail-field"></div>
                    </div>
                    <div class="pet-detail-group">
                        <h4>Status</h4>
                        <div class="detail-field"></div>
                    </div>
                </div>
                <div id="claims-history">
                    <h4>Claims history</h4>
                    <table class="table table-hover table-dark">
                        <tbody>
                          <tr *ngFor="let claim of pet_info.claims_history">
                            <th scope="row">{{claim.date}}</th>
                            <td>{{claim.reason}}</td>
                            <td>{{claim.status}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>