#my-profile-content {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
    
    p {
        cursor: pointer;
    }

    #my-profile-tabs {
        margin-top: 2vh;
    }

    .profile-tab {
        border: .4em solid black;
        padding: 0 .4em;
        margin-bottom:.05em;
        border-radius: .9em;
    }

    #profile-main {
        width:60vw;
        border: .4em solid black;
        margin-bottom:2vh;
        padding: 2vh;
        margin-right: 10vw;
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            .form-group {
                display: flex;
                flex-direction: row;
                width: 90%;
                input {
                    margin-bottom: 1vh;
                }
                label { 
                    min-width: 6em;
                }
            }
        }

        #cust-address {
            #city-state-zip {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                input {
                    width: 30%;
                }
            }
        }

        #reset-pwd {
            display: flex;
            flex-direction: row;
            input {
                margin-bottom: 1vh;
            }
            .reset-column {
                margin-right: 1vw;  
                display: flex;
                flex-direction: column;
            }
        }

    }

    #pet-profile {
        display: flex;
        flex-direction: column;
        #pet-img-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30vw;
            height: 40vh;
            background:lightgrey;
            border:.4em solid black;
            cursor: pointer;
        }
        .detail-field {
            border: .4em solid black;
            width: 75%;
        }
        #pet-overview {
            display:flex;
            flex-direction: row;
            #pet-details {
                width:55vw;
                max-width: 90%;
                .pet-detail-group {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 1.5vh;
                    h4 {
                        min-width: 5em;
                    }
                }
            }
        }
        #pet-policy {
            display: flex;
            flex-direction: row;
            width: 80%;
            justify-content: space-between;
        }

        #claims-history {
            height:20vh;
            max-height: 30%;
            table {
                overflow: scroll;
            }
        }
    }

}