<div class="app-container">
    <app-side-bar></app-side-bar>
    <div id="about-us-content">
        <h3>About Us</h3>
        <p style="font-weight: bold;">
            Our CEO, Zacchary Holte has dedicated his life to the care of exotic species. On his farm in Wyoming, he has a Sanctuary dedicated to the rehabilitation of domestically raised bobcats.  Zacchary dedicates his time to the cats, and along with his wife Mia cares for a menagerie of non-traditional pets.
            <br><br>
            In 2017, Zacchary was faced with a heart-rending choice when his beloved Kinkajou, Jiji, was diagnosed with a cancerous tumor.  Unable to cover the expected costs of treatment, Zacchary and Mia began to prepare for the worst. They turned to crowd-funding and successfully raised the money as it was needed, but Zacchary knew that many Americans are not so lucky. He decided to help prevent the economic euthanasia of exotic pets by creating an option to help offset large unexpected veterinary bills. Fur 2 Feathers insurance hit the market in late 2017.
            When Jiji passed away in 2018, Zacchary and Mia decided not to get another kinkajou, partly due to the fact that kinkajou prices had risen. This led to Mia’s suggestion that Fur 2 Feathers create a “Lost Pet” coverage option to enable pet-parents to open their hearts and homes to another fur, scale, or feather baby of the same species after losing their beloved pet.
            <br><br>
            From our families to yours. Fur 2 Feathers.
        </p>
    </div>

</div>