<div class="app-container">

    <app-side-bar></app-side-bar>
    <div id="under-construction-content">
        <p>We're Sorry! This page is under construction.<br>

            Please call Customer Service at 888-555-1234 for assistance to:<br>
            <ul>
                <li>Upgrade your policy</li>
                <li>Make a payment on your account</li>
                <li>Check claim status</li>
                <li>Add an additional pet to existing account</li>
            </ul>
    </div>
</div>