<div class="app-container">
    <app-side-bar></app-side-bar>
    <div id="blogs-content">
        <div id="blogs">
            <div class="blog-indv" id="blog-1">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed modi officia, quibusdam error hic magnam! Dolorum ea distinctio eos cupiditate dolor numquam ipsum, saepe odio voluptate ratione itaque iste autem.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt accusamus, quo alias molestiae ratione officiis saepe inventore minus! Saepe nemo accusamus facilis. Blanditiis reiciendis nemo vitae consequuntur officiis ipsa ipsam.
                </p>
                <img class="thumbnail" src="https://assets.petco.com/petco/image/upload/f_auto,q_auto/153044-left-1">
            </div>
            <div class="blog-indv" id="blog-2">
                <img class="thumbnail" src="https://i.dailymail.co.uk/1s/2020/03/20/13/26207684-0-image-a-4_1584711978894.jpg">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio mollitia consequuntur, repudiandae quam fuga harum eveniet placeat facere quae inventore. In voluptatem neque veniam. Modi at veritatis laborum natus et?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi beatae et dolorem, qui accusantium sint molestiae quisquam dolor laboriosam obcaecati. Ducimus iusto voluptate nihil recusandae, necessitatibus eum eligendi suscipit libero?
                </p>
            </div>
        </div>
    
        <div id="blog-links" >
            <a>Ready to purchase coverage? Create an account</a>
            <a>Need more information? Request a Quote</a>
        </div>
    </div>
</div>