<div id="plans-container">
    <app-side-bar></app-side-bar>
    <div id="plans-content">
        <h2>Our Plans</h2>
        <div id="row-1" class ="plans-row">
            <div class="plan-border" id="plan-1">
                <p>
                    <span style="font-weight: bold;">Basic Plan: </span><br>
                    Accident/ illness/ Injury plan only
                    Unexpected 
                    Yearly checkups 
                </p>
                <p>Deductible: as low as $250 ($250, $500, $750 will affect monthly premium: higher deductible = lower premium)</p>
                <p>Rates vary according to species</p>
                <br/>
                <p>What is covered?</p>
                <p>broken bones, cancer, chronic conditions, surgeries, medications, etc. but does not cover annual checkups, routines, boarding, grooming, non-vet fees, or pre-existing conditions; </p>
                <br>
            </div>
            <div class="plan-border" id="plan-2">
                <p>    
                    <span style="font-weight: bold;">Premium Plan: </span><br>
                    Routine Checkups covered 
                    Vet recommended: Routine care, alternative therapy 
                </p>
                <p>Deductible: as low as $250 ($250, $500, $750 will affect monthly premium: higher deductible = lower premium)</p>
                <p>Rates vary according to species</p>
                <br/>
                <p>What is covered?</p>
                <p>broken bones, cancer, chronic conditions, surgeries, medications, annual checkups, routines, etc. but does not cover boarding, grooming, non-vet fees, or pre-existing conditions;  </p>
                <br>
            </div>
        </div>
        <div id="row-2" class ="plans-row">
            <div id="additional-coverage" class="plan-border">
                <h3>Additional coverage available:</h3>
                <p>Pet Loss Coverage- coverage varies by species Assistance to obtain an animal companion of the same 
                    species following the loss of your pet, call our customer service representatives to find out more
                </p>
            </div>
            <div id="not-covered" class="plan-border">
                <h3>Not covered: </h3>
                <p>
                    Pre-Existing Conditions, Elective or Cosmetic Procedures, Costs Associated With Breeding, Grooming, Food
                    (including prescription diets), Injuries intentionally caused by owner or member of owner's household, DNA
                    Testing or cloning, Injury or Illness caused by fighting, racing, cruelty, neglect or nuclear war.
                </p>
            </div>
        </div>
        <div id="plans-links">
            <a>Ready to purchase coverage? Create an account</a>
            <a>Need more information? Request a Quote</a>
        </div>
    </div>
</div>