
nav {
    width: 97vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    height:auto;
}

a {
    margin-right: 1vw;
    text-decoration: underline;
    white-space: nowrap;
    margin-left: 1vw;
}

.selected {
    text-decoration: none;
    font-weight: bolder;
}
