<div id="nav-bar-container">
    <nav>
        <a (click)="navClick($event)" routerLink="/contact">Contact Us or Request a Quote</a>
        |
        <a (click)="navClick($event)" routerLink="/plans"> Our Plans</a>
        |
        <a (click)="navClick($event)" routerLink="/buyers-guide">Buyer's guide</a>
        |  
        <a (click)="navClick($event)" routerLink="/vets">Find a Vet</a>
        |
        <a (click)="navClick($event)" routerLink="/blogs">Blog</a>
        |
        <a (click)="navClick($event)" routerLink="/faqs">FAQ's</a>
        |
        <a (click)="navClick($event)" routerLink="/about-us">About Us</a>
        |
        <a (click)="navClick($event)" routerLink="/my-profile">My Profile</a>
        |
        <a (click)="navClick($event)" routerLink="/submit-claim">Submit A Claim</a>
        |
        <a (click)="navClick($event)" routerLink="/log-in" id="nav-log-in">Log in</a>
    </nav>
</div>
