<div id="nav-bar-container">
    <nav>
        <a routerLink="/contact">Contact Us or Request a Quote</a>
        |
        <a routerLink="/plans"> Our Plans</a>
        |
        <a routerLink="/buyers-guide">Buyer's guide</a>
        |  
        <a routerLink="/vets">Find a Vet</a>
        |
        <a routerLink="/blogs">Blog</a>
        |
        <a routerLink="/faqs">FAQ's</a>
        |
        <a routerLink="/about-us">About Us</a>
        |
        <a routerLink="/my-profile">My Profile</a>
        |
        <a routerLink="/submit-claim">Submit A Claim</a>
        |
        <a routerLink="/log-in" id="nav-log-in">Log in</a>
    </nav>
</div>
